<template>
  <div class="home">
  <div v-if="checkRoles(['ROLE_USER1'])">
    Hello User1
  </div>
  <div v-if="checkRoles(['ROLE_USER2'])">
    Hello User2
  </div>
  </div>
</template>

<script>
import auth from '@/components/auth/auth.js';

export default {
  name: 'home',
  methods: {
    checkRoles: function(roles) {
      return auth.hasAnyOf(roles);
    }
  }
}
</script>